<div  *ngFor="let comment of comments" [attr.id]="'comment-' + comment?.id" >
  <nz-divider></nz-divider>
  <div nz-row class="card-user-info">
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="2">
      <nz-avatar nzIcon="anticon anticon-user" [nzSrc]="comment?.author?.user?.thumb?.url"></nz-avatar>
    </div>
    <div nz-col nzXl="8">
      <a>
        <p class="card-user-name">{{comment?.user?.full_name}}</p>
      </a>
      <span><small>Replied at {{comment?.created_at | amTimeAgo}}</small></span>
    </div>
    <div nz-col nzXl="13">
      
        <!-- <small class="question-date">{{comment?.created_at | amTimeAgo}}</small> -->
      </div>
  </div>

  <div nz-row class="card-user-info">
    <div nz-col nzSpan="3"></div>
    <div nz-col nzXl="19">
      <span>{{comment?.body}}</span>
      <div nz-row nzGutter="48" class="post-action-bar">
        <div nz-col nzSpan="20">
          <button nz-button class="remove-border" nzType="primary" [nzSize]="large">
            <i class="anticon anticon-like"></i> Like</button>
          <button nz-button class="remove-border" nzType="default" [nzSize]="large"> Edit</button>
          <button nz-button class="remove-border" nzType="default" [nzSize]="large">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
