<div *ngFor="let comment of comments" [attr.id]="'comment-' + comment?.id" fxLayout="column" style="padding-top: 20px">
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100%" style="padding-top: 20px">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + comment?.user?.avatar?.thumb?.url + ')', 'background-size': 'cover'}"></div>
      <mat-card-title>{{comment?.user?.full_name}}</mat-card-title>
      <mat-card-subtitle style="margin-bottom: 5px;">Replied at {{comment?.created_at | amTimeAgo}}</mat-card-subtitle>
    </mat-card-header>
  </div>

  <div class="card-user-info" fxLayout="row">
    <div style="display: none" [attr.id]="'comment-form-' + comment?.id" fxFlexOffset="50px" fxFlex="100%" fxFlexFill >
      <div class="comment-answer-form" *ngIf="comment?.id">
        <form [formGroup]="commentUpdateForm" (ngSubmit)="updateCommentForm(comment)">
          <mat-form-field nz-form fxFlex="100%" fxFlexFill>
            <textarea matInput rows="1" cols="1" #body maxlength="256" formControlName="body" [value]="comment?.body" placeholder="Update Comment"></textarea>
            <mat-hint align="start">
              <strong>Don't disclose personal info</strong>
            </mat-hint>
            <mat-hint align="end">{{body.value.length}} / 256</mat-hint>
          </mat-form-field>
          <button mat-button color="primary">Reply</button>
        </form>
      </div>
    </div>
    <div [attr.id]="'comment-body-' + comment?.id" fxFlex="100%" fxFlexFill fxFlexOffset="50px">
      <mat-card-content style="margin-bottom: 5px;">
        <span [attr.id]="'comment-form-body' + comment?.id">{{comment?.body}}</span>
      </mat-card-content>
      <mat-card-actions *ngIf="currentUser && currentUser.id == comment?.user?.id" style="margin-bottom: 0px;">
        <button mat-button (click)="editComment(editing, comment?.id, i, this)" class="small-icon"><i class="material-icons small-icon">edit</i> EDIT</button>
        <button mat-button color="warn" (click)="deleteComment(comment.id)" class="small-icon"><i class="material-icons small-icon">delete</i> DELETE</button>
      </mat-card-actions>
    </div>
  </div>
</div>
<small *ngIf="pageMeta.next_page && !loadingComments">
  <button mat-button (click)="loadMoreComments(pageMeta.next_page)" style="text-align: center" (click)="onClick">LOAD MORE COMMENTS</button>
</small>

    <mat-progress-bar *ngIf="pageMeta.next_page && loadingComments"  mode="indeterminate"></mat-progress-bar>

