<div fxLayout="row" fxLayoutGap="20px" [attr.id]="'answer-update-form-' + answer?.id" fxLayout.xs="column" [ngClass]="!(isHandset$ | async )? 'margin-top2' : 'ball'">
  <div fxFlex="50" fxLayout="column" fxLayoutGap="30px">
    <mat-card class="example-card">
      <div class="row" fxFlexAlign="start">
        <mat-card-header fxFlex="50">
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + answer.author.avatar.thumb.url+ ')', 'background-size': 'cover'}"></div>
          <mat-card-title>{{answer.author.full_name}}</mat-card-title>
          <mat-card-subtitle>@{{answer.author.slug}}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-progress-bar mode="indeterminate" [hidden]="!isSubmited"></mat-progress-bar>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">edit</mat-icon> WRITE
            </ng-template>
            <form [formGroup]="updateForm" class="login-form" (ngSubmit)="submitForm(answer)" fxLayout="column" fxLayoutAlign="start end">
              <mat-form-field fxFlex="100%" fxFlexFill>
                <textarea matInput rows="10" formControlName="body" placeholder="Write your answer"></textarea>
                <mat-hint align="start">
                  <strong>This form support markdown</strong>
                </mat-hint>
              </mat-form-field>
              <div fxLayoutGap="30px">
                <a mat-stroked-button (click)="answer.editing = !answer.editing"> CANCEL</a>
                <button mat-raised-button color="primary"> Update</button>
              </div>
            </form>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">visibility</mat-icon> PREVIEW
            </ng-template>
            <div class="post-body" [innerHTML]="answer?.body| markdown"></div>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
