<mat-toolbar class="mat-elevation-z2 toolbar-settings" fxLayout="row" fxLayoutGap="20px" color="primary">
  <div class="form" fxLayout="row" fxFlex="39.4%" fxLayoutGap="20px">
    <mat-icon matSuffix class="mat-icon-default">search</mat-icon>
    <form class="example-form" fxLayout="row" fxFlex="100%" fxFlexFill fxLayoutAlign="start start" [formGroup]='usersForm'>
      <input type="search" placeholder="Search" fxFlexFill [matAutocomplete]="auto" formControlName='userInput'>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let post of filteredUsers" [value]="post.name" (click)="goToPost(post)">
            <span>{{ post.name }}</span>
          </mat-option>
        </ng-container>
        <mat-list>
          <mat-list-item>
            {{usersForm.value.userInput}} ?
          </mat-list-item>
        </mat-list>
      </mat-autocomplete>
    </form>
  </div>

  <button mat-raised-button [routerLink]="['/posts/create']">Add Question</button>


  <button mat-icon-button *ngIf="isLoging" [routerLink]="['notifications/all']">
    <mat-icon *ngIf="notification_counter === 0">notifications_none</mat-icon>
    <mat-icon *ngIf="notification_counter > 0" [matBadge]="notification_counter" matBadgeColor="warn" class="mat-18">notifications_none</mat-icon>
  </button>

  <button mat-stroked-button *ngIf="!isLoging" [routerLink]="['authenticate']" class="min-font">
    Get started
  </button>


  <div *ngIf="isLoging">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/users', currentUser.slug]">
        <mat-icon>person_outline</mat-icon>
        <span>Profile</span>
      </button>
      <!-- <button mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>My blog</span>
      </button> -->
      <button mat-menu-item [routerLink]="['/users/settings']">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-toolbar class="mat-elevation-z6 toolbar-settings" *ngIf="isHandset$ | async" color="primary">

  <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!showSearch">
    <span fxLayoutAlign="space-between center">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span mat-button routerLink="">ONOZOR</span>
    </span>


    <div fxLayout="row">
      <button mat-icon-button (click)="showSearchForm(!showSearch)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isLoging" [routerLink]="['notifications/all']">
        <mat-icon *ngIf="notification_counter === 0">notifications_none</mat-icon>
        <mat-icon *ngIf="notification_counter > 0" [matBadge]="notification_counter" matBadgeColor="warn" class="mat-18">notifications_none</mat-icon>
      </button>

      <div *ngIf="isLoging">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/users', currentUser.slug]">
            <mat-icon>person_outline</mat-icon>
            <span>Profile</span>
          </button>

          <button mat-menu-item [routerLink]="['/users/settings']">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>

      <button mat-stroked-button *ngIf="!isLoging" [routerLink]="['authenticate']" class="min-font">
        Get started
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="showSearch">
    <form fxLayout="row" fxFlex="100%" fxFlexFill [formGroup]='usersForm'>
      <mat-form-field class="example-full-width">
        <mat-icon>search</mat-icon>
        <input type="search" matInput placeholder="Search Onozor" id="searchForm" fxFlexFill [matAutocomplete]="auto"
          formControlName='userInput'>
        <mat-icon matSuffix (click)="hideSearchForm(!showSearch)">close</mat-icon>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let post of filteredUsers" [value]="post.name" (click)="goToPost(post)">
            <span>{{ post.name }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
