.user-card {
    max-width: 260px !important; 
    max-height: 300px !important;
    width: 260px !important; 
    height: 300px !important;
    margin-bottom: 10px;
}

.user-card:nth-child(3n) {
    margin-right: 0px !important;
  }

  .timeline {
      height: 100px;
  }

  .mat-card-title {
    display: block;
    margin-bottom: 8px;
  }

  .tab-backgroundcolor {
    background-color: #fff;
    margin: 0px !important;
    a {
      text-decoration: none;
    }
  }