<nz-card style="margin-bottom:25px;">
  <div nz-row class="card-user-info">
    <div nz-col nzSpan="2">
      <nz-avatar nzIcon="anticon anticon-user" nzSrc="https://cdn.hashnode.com/res/hashnode/image/upload/w_70,h_70,c_thumb/v1532830409603/ByG0zjq4m.jpeg"></nz-avatar>
    </div>
    <div nz-col nzXl="8">
      <a>
        <p class="card-user-name">Malik Jaquan</p>
      </a>
      <span>Software developer Charisol</span>
    </div>
  </div>
  <form nz-form [formGroup]="answerForm" class="login-form" (ngSubmit)="submitForm()">
    <textarea [nzAutosize]="{ minRows: 8, maxRows: 10 }" formControlName="body" placeholder="Write your answer" nz-input></textarea>
    <button nz-button class="answer-form-action-button" [nzLoading]="isSubmited" nz-button nzType="primary">Submit</button>
  </form>
  
</nz-card>