<ng-progress #progressBar [meteor]="options.meteor" [color]="options.color" [min]="options.min" [speed]="options.speed" [spinner]="options.spinner" [max]="options.max"
[spinnerPosition]="options.spinnerPosition" [direction]="options.direction" [thick]="options.thick" [trickleSpeed]="options.trickleSpeed"
[ease]="options.ease">
</ng-progress>

<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container">
    <app-header [drawer]="drawer"></app-header>
    <button mat-fab color="warn"(click)="openDialog()" style="position: fixed; bottom: 10px; z-index: 2000; right: 10px;" *ngIf="(isHandset$ | async )">
      <mat-icon class="mat-18">edit</mat-icon>
    </button>
    <div [ngClass]="!(isHandset$ | async )? 'desktop-padding' : 'handset-padding'">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

