  .margin-top2 {
    padding: 20px;
  }

  .mat-card-title {
    display: block;
    margin-bottom: 8px;
  }

  .post-body {
    font-size: 25px;
    margin-bottom: 20px;
    word-break: break-word;
    line-height: 1.6;
    font-size: 1.13rem;
    color: #23242b;
   }