
    <mat-card class="card-login">
     
      <img alt="Image representing developers talking in a dev community" *ngIf="isHandset$ | async" class="feat-mobile" src="https://cdn.hashnode.com/res/hashnode/image/upload/v1535212975101/rkP3peJw7.png">

      <div  [ngClass]="(isDesktop$ | async)? 'login-slogan' : 'login-slogan-mobile'">
 
        <h1>A community to share knowledge and better understand the world.</h1>
        <p>By having an Onozor account, you can subscribe to any community of your choice, <b>ASK question</b>, vote, follow other professional users, answer, comment, favorite or save all
          your favorite  Onozor content. </p>
      </div>
      


      <div fxLayout="row">
        <form [formGroup]="loginForm" fxFlex="60" fxFlex.xs="100" class="login-form" (ngSubmit)="login()" fxLayout="column">
          <em>Get started (no password needed)</em>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email" placeholder="Please enter your email address">
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint *ngIf="loginForm.get('email').errors">Please input a correct email!</mat-hint>
          </mat-form-field>
          <button mat-raised-button class="login-form-button" color="primary">{{
            isSubmited? "submiting..." :
            "Login / Signup"}}</button>
        </form>
        <div fxFlex="40" style="position: relative;" *ngIf="isDesktop$ | async">
          <img alt="Image representing developers talking in a dev community" class="feat-bk" src="https://cdn.hashnode.com/res/hashnode/image/upload/v1535212975101/rkP3peJw7.png">
        </div>
      </div>

    </mat-card>

