<nz-layout>
  <nz-sider>
    <app-sidebar></app-sidebar>
  </nz-sider>

  <nz-content style="margin:25px 55px;">
    <div nz-row nzGutter="48">
      <div nz-col nz-col nzSpan="12">
        <nz-card style="margin-bottom: 20px" [nzLoading]="loading">
          <div nz-row class="card-user-info">
            <div nz-col nzSpan="2">
              <nz-avatar nzIcon="anticon anticon-user" [nzSrc]="post?.question?.author?.avatar?.thumb?.url"></nz-avatar>
            </div>
            <div nz-col nzXl="5">
              <a>
                <p class="card-user-name">{{post?.question?.author?.full_name}}</p>
              </a>
              <span>@{{post?.question?.author?.slug}}</span>
            </div>
            <div nz-col nzXl="17">
              <small class="question-date">{{post?.question?.created_at | amTimeAgo}}</small>
            </div>
          </div>

          <h2 class="post-title">{{post?.question?.name}}</h2>
          <div class="post-body" [innerHTML]="post?.question?.body  | markdown"></div>

          <app-post-action-bar *ngIf="post?.question" [post]="post?.question" postType="question" [componentName]="componentName"></app-post-action-bar>


          <div class="comment" [hidden]="!showComment">
            <app-comments *ngIf="post?.question?.id" [slug]="post?.question?.id" commentableType="Question"></app-comments>
            <app-comment-form *ngIf="post?.question?.id" [slug]="post?.question?.id" commentableType="Question"></app-comment-form>
          </div>

          <app-share-post [hidden]="!sharePost" *ngIf="post?.question?.id" [title]="post?.question?.name" [postUrL]="postUrL" postType="Question"></app-share-post>

        </nz-card>

        <app-answer-form *ngIf="post?.question?.id" [questionId]="post?.question?.id"></app-answer-form>
        <app-answers [slug]="slug"></app-answers>

      </div>
      <div nz-col nz-col nzSpan="9">
        <nz-card style="width:300px;">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>

    </div>

  </nz-content>
</nz-layout>
