<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" style="margin-top: 66px;" [ngClass]="!(isHandset$ | async )? 'margin-top2' : 'ball'">
  <div fxFlex="50" fxLayout="column" fxLayoutGap="30px">
    <mat-card class="example-card" *ngIf="!loading">
      <div class="row" fxFlexAlign="start">
        <mat-card-header fxFlex="50" [routerLink]="['/users', post?.author?.slug]">
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + post?.author?.avatar?.thumb?.url+ ')', 'background-size': 'cover'}"></div>
          <mat-card-title>{{post?.author?.full_name}}</mat-card-title>
          <mat-card-subtitle>@{{post?.author?.slug}}</mat-card-subtitle>
        </mat-card-header>

        <div fxFlex="50" style="text-align: right">
          <small>{{post?.created_at | amTimeAgo}}</small>
        </div>
      </div>

      <mat-card-content>
        <h2 class="title">
          <a class="post-link">{{post?.name}}</a>
        </h2>
        <span class="post-body" [innerHTML]="post?.body  | markdown"></span>
      </mat-card-content>
      
      <app-post-action-bar fxLayout="row" [post]="post" postType="question" [componentName]="componentName">
      </app-post-action-bar>
      <div class="comment" *ngIf="showComment">
        <app-comments *ngIf="post?.id" [slug]="post?.id" commentableType="Question"></app-comments>
        <app-comment-form *ngIf="post?.id" [slug]="post?.id" commentableType="Question"></app-comment-form>
      </div>
      <div *ngIf="sharePost">
        <app-share-post *ngIf="post?.id" [title]="post?.name" [postUrL]="postUrL" postType="Question"></app-share-post>
      </div>
    </mat-card>
    <mat-card *ngIf="loading">
      <facebook-content-loader></facebook-content-loader>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<app-answer-form *ngIf="post?.id" [questionId]="post?.id"></app-answer-form>


<app-answers [slug]="post?.slug"></app-answers>
