/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
  background-color: #e1e4f2;
}

.mat-icon-default {
  color: #5b5e6a;
}

.basic-button {
  background: #fff !important;
}