

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidenav-container {
  position: relative;
  background: #e1e4f1;
}

.mat-sidenav {
  width: 250px;
  margin-right: 10px;

}



.margin-top2 {
  margin-top: 66px;
  padding: 20px;
}

.post-link {
  color: rgba(0,0,0,0.87);
  font-size: 25px;
  font-weight: bold;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  max-height: 56px;
  text-decoration: none;
}

.mat-card-title {
  display: block;
  margin-bottom: 8px;
}
