

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidenav-container {
  position: relative;
  background: #e1e4f1;
}

.mat-sidenav {
  width: 250px;
  margin-right: 10px;

}

.mat-card-title {
  display: block;
  margin-bottom: 8px;
  small {
    font-weight: normal;
  }
}


.set-margin {
  margin-bottom: 20px;
}

.alert {
  background: #ffdd01;
  padding: 10px;
}