<nz-layout>
  <nz-sider>
    <app-sidebar></app-sidebar>
  </nz-sider>

  <nz-content style="margin:25px 55px;">
    <div nz-row nzGutter="48">
      <div nz-col nz-col nzSpan="12">
        <nz-card *ngFor="let feed of feeds" style="margin-bottom: 20px" [nzLoading]="loading" [nzBordered]="true" [nzExtra]="extraTemplate" 
        infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50" (scrolled)="onScroll(meta?.next_page)" >
          <div nz-row class="card-user-info">
            <div nz-col nzSpan="2">
              <nz-avatar nzIcon="anticon anticon-user" [nzSrc]="feed?.author?.avatar?.thumb.url"></nz-avatar>
            </div>
            <div nz-col nzXl="5">
              <a>
                <p class="card-user-name">{{feed?.author?.full_name}}</p>
              </a>
              <span>@{{feed?.author?.slug}}</span>
            </div>
          </div>

          <a [routerLink]="['posts', feed.slug ]">
            <h2>
              <b>{{feed?.name}}</b>
            </h2>
          </a>
          <p>{{feed?.body}}</p>
          <div nz-row nzGutter="48">
            <app-post-action-bar  [post]="feed" postType="question" [componentName]='componentName'></app-post-action-bar>
            <app-share-post [hidden]="!feed.sharePost" *ngIf="feed?.id" [title]="feed?.name" [postUrL]="postUrL+'posts/'+ feed?.slug" postType="Question"></app-share-post>
          </div>
        </nz-card>
        
        <span *ngIf="meta?.next_page && loadingAnswer" style="text-align: center">
          <ng-template #indicatorTemplate><i class="anticon anticon-spin anticon-loading" style="font-size: 50px;"></i>
          </ng-template>
          <nz-spin [nzIndicator]="indicatorTemplate"></nz-spin>
      </span>
      </div>
      <div nz-col nz-col nzSpan="9">
        <nz-card style="width:300px;">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>

    </div>

  </nz-content>
</nz-layout>